.list_page{
    height: 100px;
    max-height: 500px;
}

.dkbtn{
    box-sizing: border-box;
}

#tuoinuoc_r, #phunsuong_r, #densuoi_r, #tamche_r, #manche_r{
    width: 30%;
    float: left;
    margin-left: 3%;
    box-sizing: border-box;
}

.dkbtn button{
    width: 45%;
    float: left;
    border: none;
    background-color: rgb(0, 81, 255);
    color: aliceblue;
}

.dkbtn button:hover{
    background-color:  aliceblue;
    color:rgb(0, 81, 255);
}

.dkbtn button:disabled{
    opacity: 20%;
    
    pointer-events: none;
    
}


.dkbtn input[type="text"]{
    pointer-events: none;
    width: 100%;
    float: left;
}

table td{
    border: 1px solid #000;
}

.ch_r input[type="number"]{
    width: 400px;
    margin-bottom: 10px;
    
}

.ch_r button{
    border: none;
    background-color: rgb(0, 81, 255);
    color: aliceblue;
}

.ch_r button:hover{
    background-color:  aliceblue;
    color:rgb(0, 81, 255);
}

.nkc{
    box-sizing: border-box;
}

#nkc_start{
    float: left;
    width: 40%;
    border: none;
    background-color: green;
    color: aliceblue;
    font-weight: bolder;
}
#nkc_start:hover{
    background-color: aliceblue;
    color: green;
}
.nkc button:disabled{
    opacity: 20%; 
    pointer-events: none;
}

#nkc_stop{
    float: right;
    width: 40%;
    border: none;
    background-color: red;
    color: aliceblue;
    font-weight: bolder;
}
#nkc_stop:hover{
    background-color: aliceblue;
    color: red;
}

.disa{
    opacity: 20%; 
    pointer-events: none;
}

.bieudo{
    box-sizing: border-box;

}

.bieudocss{
    float: left;
    width: 100%;
}

element.style{
    display: block;
    box-sizing: border-box;
    height: 203px;
    float: left;
    width: 100%;
}